* {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #c1946a;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 400px;
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  padding: 0.5em;
}

.main {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 1em;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 420px;
  width: 280px;
  padding: 8px;
  border-style: solid;
  border-width: 4px;
  border-radius: 8px;
  background-color:  #3e4444;
}

.display {
  font-size: 36px;
  text-align: right;
  width: 260px;
  height: 48px;
  border-style: solid;
  border-width: 4px;
  border-radius: 8px;
  border-color: black;
  margin: 8px;
  padding: 4px;
  color: white;
  background-color: #405d27;
}

.button-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 4px;
}

.grid-item-clear,
.grid-item-delete {
  grid-column: span 2;
}

button {
  height: 64px;
  width: 64px;
  text-align: center;
  border-radius: 16px;
  transition-duration: 0.1s;
  color: white;
  background-color: #82b74b
}

button:hover {
  color: white;
  background-color: #68923b
}

#clear,
#delete {
  width: 140px;
}

.footer {
  justify-content: center;
  text-align: center;
  font-size: 24px;
  height: 64px;
  padding: 4px;
}